<article class="stats-container">
  <section class="stats" *ngFor="let hive of statList">
      <div class="hive-name">
        {{ hive.name }}
      </div>
      <div class="info">
        <div class="chart">
          <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"
              [chartType]="lineChartType">
          </canvas>
        </div>
        <div class="summaric-data">
          <div class="hive-data">
            <p class="stat-name">Temperatura</p>
            <p><span>Maksymalna: </span>{{ hive.data.temperature }}</p>
            <p><span>Minimalna: </span>{{ hive.data.temperature }}</p>
          </div>
          <div class="chart">
          </div>
          <div class="hive-data">
            <p class="stat-name">Wilgotność</p>
            <p><span>Maksymalna: </span>{{ hive.data.humidity }}</p>
            <p><span>Minimalna: </span>{{ hive.data.humidity }}</p>
          </div>
          <div class="chart">
          </div>
          <div class="hive-data">
            <p class="stat-name">Akustyka</p>
            <p><span>Maksymalna: </span>{{ hive.data.acoustics }}</p>
            <p><span>Minimalna: </span>{{ hive.data.acoustics }}</p>
          </div>
          <div class="chart">
          </div>
          <div class="hive-data">
            <p class="stat-name">Dwutlenek węgla</p>
            <p><span>Maksymalna: </span>{{ hive.data.carbonDioxide }}</p>
            <p><span>Minimalna: </span>{{ hive.data.carbonDioxide }}</p>
          </div>
        </div>
      </div>
  </section>
</article>
