<article class="stats-container">
  <section class="stats" *ngFor="let hive of statList">
      <div class="hive-name">
        {{ hive.hiveID }}
      </div>
      <div class="info">
        <div class="chart">
          <canvas baseChart
              [datasets]="hive.chartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"
              [chartType]="lineChartType">
          </canvas>
        </div>
        <div class="summaric-data">
          <div class="hive-data">
            <p class="stat-name">Temperatura</p>
            <p><span>Maksymalna: </span>{{ hive.maxTemp }}</p>
            <p><span>Minimalna: </span>{{ hive.minTemp }}</p>
          </div>
          <div class="chart">
          </div>
          <div class="hive-data">
            <p class="stat-name">Wilgotność</p>
            <p><span>Maksymalna: </span>{{ hive.maxHum }}</p>
            <p><span>Minimalna: </span>{{ hive.minHum }}</p>
          </div>
          <div class="chart">
          </div>
          <div class="hive-data">
            <p class="stat-name">Akustyka</p>
            <p><span>Maksymalna: </span>{{ hive.minAcous }}</p>
            <p><span>Minimalna: </span>{{ hive.maxAcous }}</p>
          </div>
          <div class="chart">
          </div>
          <div class="hive-data">
            <p class="stat-name">Dwutlenek węgla</p>
            <p><span>Maksymalna: </span>{{ hive.minCarbon }}</p>
            <p><span>Minimalna: </span>{{ hive.maxCarbon }}</p>
          </div>
        </div>
      </div>
  </section>
</article>
