$main-color: #91b38e;
$font-size: 16px;

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
}

ul {
  list-style-type: none;
}

.stats-container {
  margin: 50px auto;
  width: 70%;
}

.stats{
  padding: 20px 0;
  background-color: $main-color;
  display: flex;
}

.stats:not(:last-child){
  border-bottom: 1px darken($main-color, 25%) solid;
}

.hives {
  padding: 15px 0;
  margin: auto;
}

.hive-name {
  font-size: $font-size+4;
  font-weight: bold;
  margin: auto;
}

.hive-data {
  margin: auto;

  p {
    padding: 2px 0;

    span {
      font-weight: bold;
    }
  }

}
