<header id="header">
			<div>
      	<img src="../../assets/img/pszczola.png" id="header-img" height="100px">
				<span>Bee Smart</span>
			</div>
      <nav id="nav-bar">
        <ul>
          <li><a href="#" class="nav-link" routerLink="/home">Główna</a></li>
          <li><a href="#" class="nav-link" routerLink="/today">Dziś</a></li>
          <li><a href="#" class="nav-link" routerLink="/overall">Ogólne</a></li>
          <li><a href="#" class="nav-link" routerLink="/alerts">Alerty</a></li>
          <li><a href="#" class="nav-link" routerLink="/personal">Osobiste</a></li>
        </ul>
      </nav>
    </header>
