$main-color: desaturate(#ffd93d, 20);
$header-color: #6b4701;
$link-color: #985b10;
$nav-link-padding: 10px;
$nav-link-margin: 10px;
$nav-link-border-radius: 5px;
$header-height: 120px;

header {
	background-color: $main-color;
	height: $header-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
  z-index: 100;

	div {
		padding-left: 30px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		span {
			padding-left: 10px;
			color: $header-color;
			font-size: 28px;
			letter-spacing: 2px;
			font-weight: bold;
		}
	}

	nav {
		padding-right: 10px;

		ul {
			list-style-type: none;

			li {
				float: left;

				a {
					display: inline-block;
					text-decoration: none;
					text-align: center;

					&:hover {
						background-color: darken($main-color, 15%);
					}
				}
			}
		}
	}
}

.nav-link {
	padding: $nav-link-padding;
	margin: $nav-link-margin;
  border-radius: $nav-link-border-radius;
  color: lighten($link-color, 5%);
  font-size: 22px;
}
