$main-color: #91b38e;
$alert-color: #a40000;
$font-size: 16px;

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
}

.info {
  margin-bottom: 40px;
}

.alerts {
  margin: 50px auto;
}

.alert-list {
  width: 70%;
  background-color: $main-color;
  padding: 15px 0;
  margin: 3px auto;
}

.alert-date{
  display: inline;
  margin-right: 10px;
}

.alert-info {
  display: inline;
  color: $alert-color;
  font-size: $font-size+3;
  font-weight: bold;
}

.alert-value{
  display: inline;
}

.alert-hive{
  font-size: $font-size+3;
  font-weight: bold;
  float: left;
  margin-left: 20px;
}
