/**global variables**/
$bg-color: #ffe994;
$text-color: #424242;
$font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$header-height: 110px;

/**reset**/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li,
form, label, table, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 100%;
  font-family: $font;
  color: $text-color;
}

body {
  margin: 0 auto;
  text-align: center;
  background-color: $bg-color;
}

h1 {
  font-size: 30px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
