<article class="stats-container">
  <h1>Najnowsze statystyki</h1>
  <section class="stats" *ngFor="let hive of statList">
      <div class="hive-name">
        {{ hive.name }}
      </div>
      <div class="hive-data">
        <p><span>Czas: </span>{{ hive.data.date | date:'short' }}</p>
        <p><span>Temperatura: </span>{{ hive.data.temperature }}</p>
        <p><span>Wilogtność: </span>{{ hive.data.humidity }}</p>
        <p><span>Akustyka: </span>{{ hive.data.acoustics }}</p>
        <p><span>Dwutlenek węgla: </span>{{ hive.data.carbonDioxide }}</p>
      </div>
  </section>
</article>
